<nav class="navbar  nav__color">
    <ul class="nav nav__text__color ">
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/livros">Musicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/livros">Gêneros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/livros">Artistas</a>
      </li>
  </nav>
  <br>