<nav class="navbar  nav__color">
    <ul class="nav nav__text__color ">
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/home">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/musicas/lista">Músicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/generos">Gêneros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/artistas">Artistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__text__color" href="/logout">Sair</a>
      </li>
  </nav>
  <br>