<!DOCTYPE html>
<html>
  <head>
    <title>Catalago de Musicas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <div class="container">
      <%- include ('../partials/navbar');%>

      <br />
      <div class="card">
        <div class="card-body">
          <h3 class="card-title title__h3">Cadastro de Generos</h3>
          <form action="/generos/salvar" method="POST">
            <div class="form-group">
              <label for="descricao" class="style__label">Descrição</label>
              <input
                type="text"
                name="descricao"
                id="descricao"
                placeholder="Informe o Genero."
                class="form-control"
                required
              />
            </div>
            <input class="btn btn-success" type="submit" value="Salvar" />
            <a href="/generos" class="btn btn-outline-success"
              >Lista de Generos</a
            >
          </form>
        </div>
        <% if(mensagem){ %>
        <div class="alert alert-info">
          <strong>Novo Registro!</strong> <%= mensagem %>
        </div>
        <% } %>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
